html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size: 16px;
}

#home {
    background-image: url("../images/landing-page-bg.jpg");
    /* height: 100vh; */
    /* width: 100%; */
    background-size: cover;
    background-color: black;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.text {
    font-size: 1.5rem;
    color: #f36c21;
}

p {
    margin: auto !important;
    font-size: 1.3rem;
}

h6 {
    margin-bottom: 0;
}

input {
    caret-color: #f36c21;
    font-size: 0.9rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.theme {
    border-radius: 5px;
    border: 2px solid #f36c21;
}

.form-control:focus {
    border: 2px solid #f36c21;
    box-shadow: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .theme {
        display: flex;
        justify-content: space-between;
    }
}

.topbar h5 {
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #f36c21;
    border-radius: 5px;
    line-height: 1.5;
}

.container {
    max-width: 900px;
}

.btn {
    background-color: #f36c21;
    height: 64px;
    text-align: center;
    justify-content: center;
}

.btn:focus {
    /* border: 2px solid #f36c21; */
    box-shadow: none;
}


/* .text {
    height: 60px;
} */

.sizing {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: transparent;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: rgb(60, 60, 60);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dot:hover::after {
    content: "Only 18+ people should use the services and should use it responsibly. Players should be aware of any financial risk and govern themselves accordingly.";
    left: 102%;
    max-width: 20rem;
    width: max-content;
    height: max-content;
    font-size: 0.8rem;
    position: absolute;
    background-color: #333;
    padding: 1rem;
    display: inline-block;
    color: white;
}


/* a:hover {
    background-color: rgb(90, 90, 90);
} */

.payment {
    font-size: 2rem;
    color: #f36c21;
}

.social-icon {
    background-color: aliceblue;
}


/* .social-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.social-icon a img {
    width: 4rem;
    height: 80%;
    padding: 0.5rem;
}