html,
body {
    width: 100%;
    height: 100%
}

#home {
    background-image: url("../images/landing-page-bg.jpg");
    height: 100vh;
    /* width: 100%; */
    background-size: cover;
    background-color: black;
}

img {
    max-width: 100%;
}

.logo {
    height: 100%;
    width: 500px;
}

.text {
    font-size: 1.5rem;
    color: #f36c21;
}

p {
    margin: auto !important;
    font-size: 0.9rem;
}

h2 {
    font-size: 1.8rem;
    color: #f36c21;
}

.theme {
    border-radius: 5px;
    border: 2px solid #f36c21;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .theme {
        display: flex;
        justify-content: space-between;
    }
}

.container {
    max-width: 900px;
}

.form-control {
    line-height: 2.3;
}

.text-color {
    color: #f36c21;
}

.btn {
    background-color: #f36c21;
    min-width: 70%;
    height: 50px;
}

.card {
    background-color: transparent;
}

.age {
    background-color: darkgrey;
    cursor: pointer;
}

.payment {
    font-size: 2rem;
    color: #f36c21;
}

.social-icon {
    background-color: aliceblue;
}

.social-icon a {
    display: flex;
    align-content: space-around;
    align-items: center;
}

.social-icon a img {
    width: 11%;
    height: 100%;
    padding: 0 1rem;
}